/**
// This file is part of mod_publication for Moodle - http://moodle.org/
//
// It is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// It is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// If not, see <http://www.gnu.org/licenses/>.
*/
/**
 * styles.css
 *
 * @package       mod_publication
 * @author        Andreas Hruska (andreas.hruska@tuwien.ac.at)
 * @author        Katarzyna Potocka (katarzyna.potocka@tuwien.ac.at)
 * @author        Philipp Hager (office@phager.at)
 * @author        Andreas Windbichler
 * @copyright     2014 Academic Moodle Cooperation {@link http://www.academic-moodle-cooperation.org}
 * @license       http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

/* General Styles */

#page-mod-publication-view div.availability {
    margin-bottom: 10px;
    margin-left: 10px;
}

#page-mod-publication-view div.availability div {
    clear: both;
}

#page-mod-publication-view div.availability span {
    display: block;
    float: left;
    min-width: 170px;
}

#page-mod-publication-view div.assignurl {
    margin-bottom: 10px;
    margin-left: 10px;
}

#page-mod-publication-view div.assignurl div.singlebutton,
#page-mod-publication-view div.assignurl div.singlebutton form,
#page-mod-publication-view div.assignurl div.singlebutton form div {
    display: inline;
}

#page-mod-publication-view div.assignurl div.singlebutton form div {
    padding-left: 10px;
}

#page-mod-publication-view fieldset#id_myfiles table {
    margin-left: 8px;
}

#page-mod-publication-view fieldset#id_myfiles table td {
    padding: 1px;
    padding-right: 3px;
}

/* scroll table if page is too small */
#page-mod-publication-view div#id_allfiles {
    border: 1px solid #D0D3CA;
    margin: 10px;
    padding: 10px;
}

#page-mod-publication-view div#id_allfiles div.legend {
    background-color: #fff;
    font-weight: bold;
    margin-top: -20px;
    padding: 2px 5px;
    position: absolute;
}

 /* .. ie */
.ie#page-mod-publication-view fieldset#id_allfiles {
    display: block !important;
}

/* end scroll */

#page-mod-publication-view fieldset#id_allfiles div div.no-overflow {
    margin-bottom: 1em;
    padding-bottom: 0;
}


#page-mod-publication-view fieldset#id_allfiles table#attempts {
    margin-bottom: 0;
}

#page-mod-publication-view fieldset#id_allfiles table#attempts span.timemodified {
    font-size: 0.9em;
    font-style: italic;
}

#page-mod-publication-view fieldset#id_allfiles {
    padding-top: 4px;
}

#page-mod-publication-view div.mod-publication-download-link {
    text-align: right;
}

#page-mod-publication-view div#id_allfiles table#attempts th.c0,
#page-mod-publication-view div#id_allfiles table#attempts td.c0 {
    text-align: center;
}

#page-mod-publication-view table.filetable,
#page-mod-publication-view table.filetable td,
#page-mod-publication-view table.filetable tr,
#page-mod-publication-view table.statustable,
#page-mod-publication-view table.statustable td,
#page-mod-publication-view table.statustable tr,
#page-mod-publication-view table.permissionstable,
#page-mod-publication-view table.permissionstable td,
#page-mod-publication-view table.permissionstable tr {
    border-width: 0 !important;
    padding: 1px;
    padding-right: 3px;
}

#page-mod-publication-view table.statustable tbody td,
#page-mod-publication-view table.permissionstable tbody td,
#page-mod-publication-view table.filetable tbody td {
    background-color: transparent;
}

#page-mod-publication-view table.statustable td,
#page-mod-publication-view table.filetable td {
      height: 30px;
}

#page-mod-publication-view table.statustable,
#page-mod-publication-view table.permissionstable {
    text-align: center;
    width: 100%;
}

#page-mod-publication-view table.permissionstable select {
    margin-bottom: 0;
}

#page-mod-publication-view div.withselection {
    text-align: center;
}

#page-mod-publication-view div.withselection {
    text-align:center;
}
#page-mod-publication-view div.withselection select{
    margin-left: 4px;
    margin-right: 4px;
}

#page-mod-publication-view .visibilitysaver {
    float: right;
}

#page-mod-publication-view #dates {
    border-width: 0;
}

#page-mod-publication-view #dates .c0 {
    text-align: left;
}

#page-mod-publication-view #dates td {
    padding-bottom: 0;
    padding-top: 0;
}

#page-mod-publication-upload .fstatic,
#page-mod-publication-upload .fstaticlabel {
    font-style: italic;
}

#page-mod-publication-view fieldset#id_myfiles .notice {
    font-style: italic;
    margin-bottom: 6px;
    padding: 8px;
}

#page-mod-publication-mod select[name=importfrom] option[disabled] {
    color: #999;
}