{{#assign}}
    {{{.}}}
{{/assign}}
{{#timeremaining}}
    <tr>
        <th>{{#str}}timeremaining,assign{{/str}}</th>
        <td>{{.}}</td>
    </tr>
{{/timeremaining}}
{{#approvalfromdate}}
    <tr>
        <th>{{#str}}approvalfromdate,publication{{/str}}</th>
        <td>{{.}}</td>
    </tr>
{{/approvalfromdate}}
{{#approvaltodate}}
    <tr>
        <th>{{#str}}approvaltodate,publication{{/str}}</th>
        <td>{{.}}</td>
    </tr>
{{/approvaltodate}}
{{#hasmyfiles}}
    <tr>
        <th>{{#str}}lastmodified{{/str}}</th>
        <td>{{lastmodified}}</td>
    </tr>
{{/hasmyfiles}}
<tr>
    <th>{{myfilestitle}}</th>
    <td>
        {{#hasmyfiles}}
            {{#myfiles}}
                {{#.}}
                    {{{.}}}
                {{/.}} <br />
            {{/myfiles}}
        {{/hasmyfiles}}
        {{^hasmyfiles}}
            {{#str}}nofiles,publication{{/str}}
        {{/hasmyfiles}}
    </td>
</tr>